node_modules/
coverage/
.nyc_output/
*.log
jest/
build/
dist/
webpack/webpack-assets.json
.storybook/public/*
!.storybook/public/favicon.ico
reports/
screenshots/
credentials.tar.gz
quotatis-01d6e02592a9.json
._quotatis-01d6e02592a9.json
gaston/
*.wordpress.*.xml
build/
